<a href="https://colab.research.google.com/github/andres23-afk/Dimplomado_Ciencia_Datos/blob/main/Tarea_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tarea 2 funciones

1. Escriba una función  que reciba la fecha de nacimiento de un a persona y calcule la edad de la persona

In [4]:
from datetime import date

def calcular_edad(fecha_nacimiento):
    today = date.today()
    edad = today.year - fecha_nacimiento.year - ((today.month, today.day) < (fecha_nacimiento.month, fecha_nacimiento.day))
    return edad

In [5]:
# Ejemplo 1: Calcular la edad de una persona nacida el 1 de enero de 2000
fecha_nacimiento_1 = date(2000, 1, 1)
edad_1 = calcular_edad(fecha_nacimiento_1)
print("La persona tiene", edad_1, "años")

# Ejemplo 2: Calcular la edad de una persona nacida el 12 de abril de 1985
fecha_nacimiento_2 = date(1985, 4, 12)
edad_2 = calcular_edad(fecha_nacimiento_2)
print("La persona tiene", edad_2, "años")

La persona tiene 23 años
La persona tiene 37 años

2. Crea una función EscribirCentrado, que reciba como parámetro un texto y lo escriba centrado en pantalla (suponiendo una anchura de 80 columnas; pista: deberás escribir 40 - longitud/2 espacios antes del texto).

In [6]:
def EscribirCentrado(texto):
    longitud_texto = len(texto)
    espacios = 40 - longitud_texto // 2
    print(' ' * espacios + texto)

In [7]:
# Ejemplo 1: Escribir el texto "Hola, mundo!" centrado en pantalla
texto_1 = "Hola, mundo!"
EscribirCentrado(texto_1)

# Ejemplo 2: Escribir el texto "Función EscribirCentrado" centrado en pantalla
texto_2 = "Función EscribirCentrado"
EscribirCentrado(texto_2)

                                  Hola, mundo!
                            Función EscribirCentrado

3. Construya una función decorada que reciba un texto y lo escriba marcado con Markdown en itálica y resaltada (bold). Revise la lección de decoradores, no vista en clase.

In [8]:
def markdown_decorador(funcion):
    def envoltura(texto):
        texto_formateado = "**_" + funcion(texto) + "_**"
        return texto_formateado
    return envoltura

@markdown_decorador
def escribir_texto(texto):
    return texto

In [9]:
# Ejemplo 1: Escribir un texto marcado con Markdown en itálica y resaltada
texto_1 = "Este es un texto marcado"
texto_formateado_1 = escribir_texto(texto_1)
print(texto_formateado_1)

# Ejemplo 2: Escribir otro texto marcado con Markdown en itálica y resaltada
texto_2 = "Otro texto para marcar"
texto_formateado_2 = escribir_texto(texto_2)
print(texto_formateado_2)

**_Este es un texto marcado_**
**_Otro texto para marcar_**

4.  Crea un programa que pida dos número enteros al usuario y diga si alguno de ellos es múltiplo del otro.

In [2]:
# Pedir dos números enteros al usuario
numero1 = int(input("Ingrese el primer número entero: "))
numero2 = int(input("Ingrese el segundo número entero: "))

# Verificar si alguno de los números es múltiplo del otro
if numero1 % numero2 == 0:
    print(f"{numero1} es múltiplo de {numero2}")
elif numero2 % numero1 == 0:
    print(f"{numero2} es múltiplo de {numero1}")
else:
    print("Ninguno de los números es múltiplo del otro")

Ingrese el primer número entero: 10
Ingrese el segundo número entero: 25
Ninguno de los números es múltiplo del otro

5. Crear una función re reciba una lista  de 24 valores de temperatura leída  hora en un día y que calcule la temperatura media  Cree una lista con 24 valores de temperatura de un día de Bogotá y pruebe su función. Invente los datos.

In [10]:
def temperatura_media(lista_temperaturas):
    total_temperaturas = sum(lista_temperaturas)
    media_temperaturas = total_temperaturas / len(lista_temperaturas)
    return media_temperaturas

In [11]:
# Lista de temperaturas de un día en Bogotá (en grados Celsius)
temperaturas_bogota = [12, 11, 11, 10, 9, 9, 8, 8, 10, 11, 12, 13, 14, 15, 15, 14, 13, 12, 11, 11, 10, 10, 10, 10]

# Calcular la temperatura media
temperatura_media_bogota = temperatura_media(temperaturas_bogota)

# Imprimir la temperatura media
print(f"La temperatura media en Bogotá fue de {temperatura_media_bogota} grados Celsius")

La temperatura media en Bogotá fue de 11.208333333333334 grados Celsius

In [12]:
# Lista de temperaturas inventadas en grados Fahrenheit
temperaturas = [72, 73, 74, 75, 75, 76, 77, 78, 79, 80, 80, 81, 81, 81, 81, 80, 80, 79, 78, 77, 76, 75, 74, 73]

# Convertir las temperaturas de Fahrenheit a Celsius
temperaturas_celsius = [(temperatura - 32) * 5/9 for temperatura in temperaturas]

# Calcular la temperatura media
temperatura_media = temperatura_media(temperaturas_celsius)

# Imprimir la temperatura media
print(f"La temperatura media fue de {temperatura_media} grados Celsius")

La temperatura media fue de 25.16203703703704 grados Celsius

6. Crea un función “ConvertirEspaciado”, que reciba como parámetro un texto y devuelve una cadena con un espacio adicional tras cada letra. Por ejemplo, “Hola, tú” devolverá “H o l a , t ú “.  Pruebe

In [1]:
def ConvertirEspaciado(texto):
    espaciado = ""
    for letra in texto:
        if letra != " ":
            espaciado += letra + " "
        else:
            espaciado += " "
    return espaciado

In [2]:
texto1 = "Hola, tú"
texto2 = "Hola Mundo"
resultado1 = ConvertirEspaciado(texto1)
resultado2 = ConvertirEspaciado(texto2)
print(resultado1)  # H o l a ,   t ú 
print(resultado2)  # H o l a   M u n d o

H o l a ,  t ú
H o l a  M u n d o

7. Crea una función “calcularMaxMin” que recibe una arreglo con valores numérico y devuelve el valor máximo y el mínimo.

In [3]:
def calcularMaxMin(arreglo):
    maximo = arreglo[0]
    minimo = arreglo[0]
    for numero in arreglo:
        if numero > maximo:
            maximo = numero
        if numero < minimo:
            minimo = numero
    return maximo, minimo

In [4]:
arreglo1 = [5, 8, 2, 10, 3]
arreglo2 = [2, 4, 6, 8, 10]
maximo1, minimo1 = calcularMaxMin(arreglo1)
maximo2, minimo2 = calcularMaxMin(arreglo2)
print("El valor máximo de arreglo1 es:", maximo1)  # 10
print("El valor mínimo de arreglo1 es:", minimo1)  # 2
print("El valor máximo de arreglo2 es:", maximo2)  # 10
print("El valor mínimo de arreglo2 es:", minimo2)  # 2

El valor máximo de arreglo1 es: 10
El valor mínimo de arreglo1 es: 2
El valor máximo de arreglo2 es: 10
El valor mínimo de arreglo2 es: 2

8.  Diseñar una función que calcule el área y el perímetro de una circunferencia.

In [5]:
import math

def calcularAreaPerimetroCircunferencia(radio):
    area = math.pi * radio ** 2
    perimetro = 2 * math.pi * radio
    return area, perimetro

In [6]:
radio1 = 5
radio2 = 10
area1, perimetro1 = calcularAreaPerimetroCircunferencia(radio1)
area2, perimetro2 = calcularAreaPerimetroCircunferencia(radio2)
print("El área de la circunferencia con radio", radio1, "es:", area1, "y el perímetro es:", perimetro1)
print("El área de la circunferencia con radio", radio2, "es:", area2, "y el perímetro es:", perimetro2)

El área de la circunferencia con radio 5 es: 78.53981633974483 y el perímetro es: 31.41592653589793
El área de la circunferencia con radio 10 es: 314.1592653589793 y el perímetro es: 62.83185307179586

9. Crear una función  llamada “Login”, que recibe un nombre de usuario y una contraseña y devuelva Verdadero si el nombre de usuario es “usuario1” y la contraseña es “asdasd”. Además recibe el número de intentos que se ha intentado hacer login y si no se ha podido hacer login incremente este valor.

In [7]:
def Login(usuario, contrasena, intentos):
    if usuario == "usuario1" and contrasena == "asdasd":
        return True, intentos
    else:
        intentos += 1
        return False, intentos

In [8]:
intentos1 = 0
intentos2 = 3
resultado1, intentos1 = Login("usuario1", "asdasd", intentos1)
resultado2, intentos2 = Login("usuario2", "123456", intentos2)
print("Intento 1:")
print("El login fue exitoso:", resultado1)
print("Número de intentos:", intentos1)
print("Intento 2:")
print("El login fue exitoso:", resultado2)
print("Número de intentos:", intentos2)

Intento 1:
El login fue exitoso: True
Número de intentos: 0
Intento 2:
El login fue exitoso: False
Número de intentos: 4

10. Crear una función recursiva que permita calcular el factorial de un número. Realiza un programa principal donde se lea un entero y se muestre el resultado del factorial. Revise la lección de funciones.

In [9]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [10]:
numero1 = 5
numero2 = 10
factorial1 = factorial(numero1)
factorial2 = factorial(numero2)
print("El factorial de", numero1, "es:", factorial1)
print("El factorial de", numero2, "es:", factorial2)

El factorial de 5 es: 120
El factorial de 10 es: 3628800

11. Escribir dos funciones que permitan calcular:

*   La cantidad de segundos en un tiempo dado en horas, minutos y segundos.
*   a cantidad de horas, minutos y segundos de un tiemLpo dado en segundos

In [11]:
def tiempo_a_segundos(horas, minutos, segundos):
    total_segundos = horas * 3600 + minutos * 60 + segundos
    return total_segundos

def segundos_a_tiempo(segundos):
    horas = segundos // 3600
    segundos = segundos % 3600
    minutos = segundos // 60
    segundos = segundos % 60
    return horas, minutos, segundos

In [12]:
# Ejemplo 1: convirtiendo tiempo a segundos
horas = 3
minutos = 27
segundos = 42
total_segundos = tiempo_a_segundos(horas, minutos, segundos)
print(f"{horas} horas, {minutos} minutos y {segundos} segundos son {total_segundos} segundos.")

# Ejemplo 2: convirtiendo segundos a tiempo
segundos = 3600
horas, minutos, segundos = segundos_a_tiempo(segundos)
print(f"{segundos} segundos son {horas} horas, {minutos} minutos y {segundos} segundos.")

3 horas, 27 minutos y 42 segundos son 12462 segundos.
0 segundos son 1 horas, 0 minutos y 0 segundos.

12. Crea una función  que lea una tupla, invierta los valores de la tupla y regrese una nueva tupla invirtiendo los valores. Recuerde que las tuplas son inmutables.

In [13]:
def invertir_tupla(tupla):
    nueva_tupla = tuple(reversed(tupla))
    return nueva_tupla

In [14]:
# Ejemplo 1
tupla1 = (1, 2, 3, 4, 5)
tupla_invertida1 = invertir_tupla(tupla1)
print("La tupla original es:", tupla1)
print("La tupla invertida es:", tupla_invertida1)

# Ejemplo 2
tupla2 = ("Hola", "mundo", "!", "Python", "es", "genial")
tupla_invertida2 = invertir_tupla(tupla2)
print("La tupla original es:", tupla2)
print("La tupla invertida es:", tupla_invertida2)

La tupla original es: (1, 2, 3, 4, 5)
La tupla invertida es: (5, 4, 3, 2, 1)
La tupla original es: ('Hola', 'mundo', '!', 'Python', 'es', 'genial')
La tupla invertida es: ('genial', 'es', 'Python', '!', 'mundo', 'Hola')

13. Escriba una función que lea una lista y calcule la media geométrica de sus valores, usando funtools.reduce.

In [15]:
import functools

def media_geometrica(lista):
    producto = functools.reduce(lambda x, y: x * y, lista)
    n = len(lista)
    return producto**(1/n)

In [16]:
# Ejemplo 1
lista1 = [1, 2, 3, 4, 5]
media_geometrica1 = media_geometrica(lista1)
print("La lista es:", lista1)
print("La media geométrica es:", media_geometrica1)

# Ejemplo 2
lista2 = [2, 4, 6, 8, 10]
media_geometrica2 = media_geometrica(lista2)
print("La lista es:", lista2)
print("La media geométrica es:", media_geometrica2)

La lista es: [1, 2, 3, 4, 5]
La media geométrica es: 2.605171084697352
La lista es: [2, 4, 6, 8, 10]
La media geométrica es: 5.210342169394704